.main-header {
    background-color: #ECDCAB;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}
.logo {
    width: 220px; 
    height: auto;
    left: 10;
}


/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4EFE9; /* Color de respaldo si la imagen no carga */
    color: black;
    padding: 20px;
    margin: 0; 
    overflow: hidden;

}



.main-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    height: 115vh; 
    gap: 40px;
    margin-top: -40px; 
}

.main-button {
    width: 100%; 
    max-width: 250px; 
    aspect-ratio: 5 / 7; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    padding-top: 50px; 
    overflow: hidden; 
}


.main-button span {
    font-size: 50px; 
    color: #5A3B81;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    top: 20px; 
    width: 100%;
    background: none;
}




/* Texto dentro del bot贸n */
.button-text {
    font-size: 28px;
    color: #5A3B81; /* Texto violeta */
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: -40px; 
    width: 100%;
    background: none; 
}


.main-button:hover {
    transform: scale(1.1);
    background-color: transparent 
}

/* Elimina el fondo violeta de la parte inferior */
.main-button::after {
    display: none;
}


.main-button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Bot贸n */
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5A3B81;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif !important;
    box-shadow:
        inset 0 -10px 15px rgba(0, 0, 0, 0.4), 
        inset 0 5px 10px rgba(255, 255, 255, 0.3); 
    border-radius: 30px; 
    transition: transform 0.2s ease-in-out; 
}

.main-button {
   
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.5),  
    0 4px 10px rgba(0, 0, 0, 0.3),  
    inset 0 -10px 15px rgba(0, 0, 0, 0.7), 
    inset 0 5px 15px rgba(255, 255, 255, 0.4),  
    inset 0 3px 5px rgba(255, 255, 255, 0.3); 
    border-radius: 20px; 
}


button:hover {
    transform: scale(1.05);
    transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
    background-color: #341d4f;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; /* Habilita el scroll en el modal */
}


/* Contenido del modal */
.modal-content {
    max-height: 90vh; 
    overflow-y: auto; /* Scroll vertical cuando es necesario */
    position: relative;
    background-color: #e6d190;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 
    0 4px 6px rgba(0, 0, 0, 0.4), 
    inset 0 2px 5px rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.6);
}

.modal-content h2 {
    background-color: #e6d190;
    padding: 12px 15px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #5A3B81;
    text-align: center;
    border-bottom: 1px solid #b0a08b;
}

/* Bot贸n de cerrar */
.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif !important;
}

.close-button:hover {
    color: #341d4f;
}

/* Tabla de insumos */
.insumos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
}

.insumos-table th, .insumos-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.insumos-table th {
    background-color: #dec26c;
    font-weight: bold;
}

/* Formulario dentro del modal */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

input {
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

/* Botones del modal */
.modal-buttons {
    margin-top: 20px;
    text-align: right;
}

.modal-buttons button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5A3B81;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.modal-buttons button:hover {
    background-color: #341d4f;
}

.selected {
    background-color: #5A3B81;
    font-weight: bold;
}

/* Select */
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    appearance: none;
}

select:focus {
    border-color: #5A3B81;
    outline: none;
}

/* Tabla de recetas */
.recetas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
}

.recetas-table th, .recetas-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.recetas-table th {
    background-color: #dec26c;
    font-weight: bold;
}

#btnCaja {
    background-image: url('https://i.postimg.cc/9FHsCptw/Dalle-Modif.png');
    
}

#btnRecetas {
    background-image: url('https://i.postimg.cc/gcTbKbQn/DALL-E-2025-02-05-16-30-14-A-black-and-white-3-D-minimalist-illustration-of-a-fork-and-spoon-crosse.webp');
}

#btnInsumos {
    background-image: url('https://i.postimg.cc/h46ZbHtt/DALL-E-2025-02-06-09-58-35-A-black-and-white-3-D-minimalist-drawing-of-a-pastry-related-utensil-su.webp');
}

#btnReportes {
    background-image: url('https://i.postimg.cc/t7GsZnHx/DALL-E-2025-02-05-16-29-43-A-black-and-white-3-D-minimalist-illustration-of-a-spreadsheet-or-data-s.webp');
}

#addModal select, #modifModal select {
    font-size: 16px;  
    padding: 8px;  
    border-radius: 5px;  
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Modificar el men煤 desplegable (dropdown) */
#addModal select option, #modifModal select option {
    font-size: 18px;  
    padding: 12px;    
}

/* Estilos para el bot贸n flotante "+" */
#floatingButton {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #7a1fa2; /* Violeta */
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        inset 0 -10px 15px rgba(0, 0, 0, 0.4), 
        inset 0 5px 10px rgba(255, 255, 255, 0.3); 
    border-radius: 30px;
    transition: transform 0.2s ease-in-out; 
}

#floatingButton:hover {
    background-color: #9c27b0; 
    transform: scale(1.1);
}

#floatingButton:active {
    transform: scale(0.95);
}

#btnAgregarNuevoInsumo {
    margin-top: 20px; 
}

/* Contenedor de los insumos en el modal */
.insumos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}


.fila-insumo {
    display: flex;
    gap: 10px;
    align-items: center;
}

label[for="recetaSelect"] {
    display: block;
    margin-bottom: 15px; 
}



/* Estilos del men煤 flotante */
.floating-menu {
    display: none;
    position: fixed;
    bottom: 90px; 
    right: 20px;
    background: transparent; 
    padding: 10px;
    z-index: 999; /* Sobre el overlay */
}

/* Estilo del texto en el men煤 (sin bot贸n) */
.floating-menu button {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    display: inline-block; /* Para evitar saltos de l铆nea */
    white-space: nowrap; /* Evita que se divida en dos renglones */
    transition: color 0.3s;
}

/* Hover en violeta */
.floating-menu p:hover {
    color: #9c27b0;
}

/* Modal de Ventas */
#modalVentas .modal-content {
    width: 80%;
    max-width: 700px;
    text-align: center;
}

/* Filtro de Fechas */
.filtro-fechas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filtro-fechas label {
    font-weight: bold;
}

.filtro-fechas input {
    padding: 8px;
    font-size: 16px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Tabla de Ventas */
.ventas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    color: black;
}

.ventas-table th, .ventas-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.ventas-table th {
    background-color: #dec26c;
    font-weight: bold;
}

.ventas-table tfoot td {
    font-size: 18px;
    font-weight: bold;
}

.ventas-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.add-btn, .delete-btn {
    width: 50px;
    height: 50px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.add-btn {
    background-color: #4CAF50;
    color: white;
}

.add-btn:hover {
    background-color: #45a049;
}


/* Estilo para agrandar el modal */
.modal-content-wide {
    max-height: 90vh; 
    overflow-y: auto; /* Habilita el scroll interno */
    position: relative;
    background-color: #e6d190;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px; /* Hace que ocupe casi toda la pantalla */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 
    0 4px 6px rgba(0, 0, 0, 0.4), 
    inset 0 2px 5px rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.6); 
}

.modal-content-wide h2 {
    background-color: #e6d190;
    padding: 12px 15px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #5A3B81;
    text-align: center;
    border-bottom: 1px solid #b0a08b;
}

.modal-content, .modal-content-wide {
    box-shadow: 
        0 15px 40px rgba(0, 0, 0, 0.7),  
        0 5px 15px rgba(0, 0, 0, 0.6),  
        inset 0 -10px 15px rgba(0, 0, 0, 0.4), 
        inset 0 5px 10px rgba(255, 255, 255, 0.3); 
    border: 3px solid rgba(0, 0, 0, 0.8); 
    border-radius: 30px; 
    transition: transform 0.2s ease-in-out; 
    padding-bottom: 40px; 

}

.modal-content-wide, .modal-content {
    animation: inflateEffect 0.1s ease-out;
}

@keyframes inflateEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* Contenedor principal con dos columnas */
.venta-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Secci贸n izquierda: Datos Cliente */
.datos-cliente {
    width: 40%;
    background: #e6d190;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.datos-cliente form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 60px; 
}

.addClientesForm {
    margin-top: 30px; 
}

/* Secci贸n derecha: Nueva Venta */
.venta-detalles {
    width: 60%;
    background: #e6d190;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.detalle-table {
    width: 100%;
    border-collapse: collapse !important;  
    background-color: white;
    margin-top: 20px;
}


/* Ajuste de las celdas de la tabla */
.detalle-table th, .detalle-table td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    height: 30px; /* Ajusta altura de las filas */
}


.detalle-table th {
    
    background-color: #dec26c;
    font-weight: bold;
}

/* Contenedor para el bot贸n "Agregar" */
.add-button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
}

/* Estilos para el bot贸n "Agregar" */
.add-circle-btn {
    width: 50px;
    height: 50px;
    background-color: #5A3B81; 
    color: white;
    border-radius: 50%; 
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        inset 0 -10px 15px rgba(0, 0, 0, 0.4), 
        inset 0 5px 10px rgba(255, 255, 255, 0.3);
    border-radius: 30px; 
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}


.add-circle-btn:hover {
    background-color: #7D58B3; 
    transform: scale(1.1);
    box-shadow:
        inset 0 -10px 15px rgba(0, 0, 0, 0.4), 
        inset 0 5px 10px rgba(255, 255, 255, 0.3); 
    border-radius: 30px; 
}

/* Efecto al hacer clic */
.add-circle-btn:active {
    transform: scale(0.95);
}

.reporte-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
    width: 100%; 
    margin-top: 20px; 
}

/* Ajuste adicional para los botones */
.reporte-buttons button {
    width: 250px; /* Tama帽o uniforme para todos */
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5A3B81; 
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reporte-buttons button:hover {
    background-color: #341d4f; 
}

/*  Contenedor de la alerta */
.alerta-container {
    position: absolute; 
    bottom: 25px; /* Subimos un poco para que no quede pegado abajo */
    left: 55% !important;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}


.alerta-insumos {
    background-color: #7a1c1c; 
    color: white !important;
    font-weight: bold;
    padding: 8px 12px !important;
    border: 5px;
    border-color: #7a1c1c !important;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    max-width: 250px !important;
    font-size: 14px !important; 
    transition: background-color 0.3s;
}

.alerta-insumos:hover {
    background-color: #5c1313 !important; 
}

/*  Detalle de alertas */
.detalle-alertas {
    background-color: #ffcccc;
    color: #b20000;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    max-width: 800px;
    display: none;
}

@media (max-width: 960px) {
    /* Reducir el tama帽o de los textos en un 25% */
    .main-button span {
        font-size: clamp(30px, 4vw, 40px); /* Reduce 25% en alturas menores */
    }
}


/* Media Queries para mejor responsividad */
@media (max-width: 820px) {

    .modal-content {
        width: 60%;
    }
    
    .buttons-container {
        gap: 8px; /* Reduce el espacio entre los botones */
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        grid-gap: 80px; /* Reducimos el espacio entre botones */
        justify-content: center; 
        align-items: center;
        align-content: center; 
        width: 100%; /* Asegurar que ocupa todo el ancho */
        max-width: 400px; 
        margin: 0 auto; 
        padding-top: 100px; 
        height: calc(100vh - 120px); 
    }

   /* Subir los textos sin modificar la estructura HTML */
    .main-button span {
        font-size: clamp(30px, 5vw, 32px); /* Tama帽o adaptable */
        display: block;
        position: relative;
        top: -45px; 
        text-align: center;
        width: 100%;
        z-index: 2; /* Mantiene el texto visible */
    }

    .main-button {
        max-height: 210px;
        aspect-ratio: 5 / 7.5;
    }

}

@media (max-width: 516px) {
  
    .main-button {
        max-height: 210px;
        aspect-ratio: 5 / 7;
    }

    /* Subir los textos sin modificar la estructura HTML */
    .main-button span {
        font-size: clamp(30px, 5vw, 32px); 
        display: block;
        position: relative;
        top: -45px; 
        text-align: center;
        width: 100%;
        z-index: 2; 
    }

    /* Ajustar botones de los modales */
    .modal-buttons {
        display: flex;
        flex-wrap: nowrap; /* Mantiene los botones en l铆nea */
        justify-content: space-between;
        gap: 5px;
    }

    .modal-buttons button {
        flex: 1; 
        font-size: 14px; 
        padding: 8px 10px; 
        min-width: auto;
    }
    
}

